---
- name: Install Nginx
  yum:
    name: nginx
    state: present
  become: true

- name: Copy Nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: restart nginx
  become: true

- name: Start and enable Nginx
  service:
    name: nginx
    state: started
    enabled: true
  become: true
